.clock-wrapper{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 37%,#d1d1d1 66%,#fefefe 100%);
}

.clock-container{
    display: flex; 
    align-content: center; 
    align-items: center;
    justify-content: center;
    width: 97vw; 
    height: 98vh;


    .primary-clock{
        width: 55vw;
    }

    .primary-clock.large{
        width: 60vw;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0%);
    }

    .aux-clocks{
        width: 20vw;
    }
}

