
<div class="analog-clock">
    <svg [id]="clock_id" viewBox="0 0 100 100">
        <defs>
            <filter id="inset-shadow">
                <feFlood flood-color="black"/>
                <feComposite operator="xor" in2="SourceGraphic"/>
                <feGaussianBlur stdDeviation="1"/>
                <feComposite operator="in" in2="SourceGraphic" result="map"/>
                <feDiffuseLighting lighting-color="white" surfaceScale="2" diffuseConstant="1">
                <feSpotLight x="-30" y="-30" z="230"/>
            </feDiffuseLighting>
                <feBlend mode="multiply" in="SourceGraphic" />
                <feComposite operator="in" in2="SourceGraphic"/>
            
            </filter>
        </defs>
        
        <circle class="face" cx="50" cy="50" r="45" filter="url(#inset-shadow)"/>
        <text x="50" y="65" class="location" text-anchor="middle">{{location}}</text>
        <g class="hands">
            <rect [id]="clock_id + '_hour'" class="hour" x="47.5" y="25" width="4.5" height="25" rx="2" ry="2" />
            <rect [id]="clock_id + '_min'" class="min" x="48" y="3.5" width="3" height="48" rx="1" ry="1"/>
            <line [id]="clock_id + '_sec'" class="sec" x1="50" y1="50" x2="50" y2="16" />
        </g>
        <circle class="knob" cx="50" cy="50" r="4"/>
    </svg>
</div>

