.analog-clock{

    .face {
        stroke-width: 0.4px; stroke: rgb(129, 129, 129); 
        fill: white;
    }
    .hour, .min, .sec {
        stroke-width: 0.3px; fill: rgb(0, 0, 0); stroke: #000000;
    }
    .sec { stroke: #f55; }

    .knob{
        fill: #f55;
    }

    .location{
        fill: black;
        font-size: 5px;
    }
}